.App {
  color: rgb(255, 255, 255);
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 0% 25%;
}
.Header {
  color: #000000;
}
/* write your parent styles in here for your App.js */
